<div id = "mtgCards"><a >
    <img data-img ="{{imageUrl}}"  src={{imageUrl}} id={{id}} alt="card-images" class = "data-center">
    {{#if quantity}}
    <p class= 'text-center'>You own {{quantity}}</p>
    {{/if}}
</a></div>

    