<header></header>
<div class="parallax-container">
  {{!-- <div class="background">
    <img class="background__image" src="public\assets\Images\d8g26q6-b06ebfba-9945-4648-a171-8c40e9bdc363.jpg" />
  </div> --}}
</div>
<div class="container">
    <div class="row">
        <div class="col-md Cinzel">
            {{#if user}}
          <h1>Hello, {{user.first_name}}
               Here are the cards you've collected so far
           </h1>
           {{/if}}
        </div>
        <div id = 'card-field' class = 'd-inline-flex flex-wrap'>
        {{#each cards as |card|}}
        {{>card-gallery}}
       {{!-- <p class="d-inline">You own {{quantity}}</p> --}}
        {{/each}}
        </div>
        </div>
</div>
</div>
<script src="/assets/js/scripts.js"></script>