<div class="container">
    <p>testtesttest</p>
    <div class="row">
        <div class="col-md">
            {{#if user}}
          Hello, {{user.first_name}}
               Here are the cards you've collected so far
           </h1>
           {{/if}}
        </div>
        <div id = 'card-field' class = 'd-inline-flex'>
        {{#each cards as |card|}}
        {{>card-gallery}}
        {{!-- <p class="d-inline">You own {{quantity}}</p> --}}
        {{/each}}
        </div>
        </div>
</div>
<script src="/assets/js/scripts.js"></script>