<header></header>
<div class="bkgrnd">
  {{!-- <div class="background">
    <img class="background__image" src="../public/assets/Images/mtg-image-rotated.png" />
  </div> --}}

<div class="container foreground">
    <div class="row foreground__content">
        <div class="col-md Cinzel" id = "text-blurb">
            {{#if user}}
          <h1>Hello, {{user.first_name}}
               Here are the cards you've collected so far
           </h1>
           {{/if}}
        </div>
        <div id = 'card-field' class = 'd-inline-flex flex-wrap'>
        {{#each cards as |card|}}
        {{>card-gallery}}
       {{!-- <p class="d-inline">You own {{quantity}}</p> --}}
        {{/each}}
        </div>
        </div>
</div>
</div>
<script src="/assets/js/scripts.js"></script>