<div class="container">
    <div class="row">
        <div class="col-md">
            {{#if user}}
           <h1>Hello, {{user.first_name}}! Here's your collection!</h1>
           {{/if}}
        </div>
        <div id = 'card-field'>
        {{#each cards as |card|}}
        {{>card-gallery}}
        {{/each}}
        </div>
        </div>
</div>
<script src="/assets/js/scripts.js"></script>