<!DOCTYPE html>
<html>
    <head>
        <title>MTG Project</title>
    </head>

<body>
    <form id="signup" name ="signup" method="post" action="/signup">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="email" />
        <label for="firstname">First Name</label>
        <input name="firstname" type="text" />
        <label for="lastname">Last Name</label>
        <input name="lastname" type="text" />
        <label for="password">Password</label>
        <input name="password" type="text" />
        <input class="btn" type="submit" value="Sign Up" />
    </form>
</body>
</html>