form {
  margin-top: 50px;
}

.nav-link {
  display: contents;
  color: white;
  
}

/* .parallax-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 8px;
  perspective-origin: 0%;
  display: flex; */
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-overflow-scrolling: touch;
}


@keyframes animateZ {
  from {
    transform: translateZ(0px);
  }
  to {
    transform: translateZ(4px);
  }
}


/* .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(0px);
}

.foreground {
  margin-top: auto;
  margin-bottom: 50px;
  transform-origin: 0;
  transform: translateZ(3px);
  transform: translateZ(3px) scale(0.625);
} */

.foreground h1 {
  font-size: 36px;
} */

.Cinzel {
  font-family: 'Cinzel', serif;
}

#card-field{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* header{
	background-image: url("public\assets\Images\d8g26q6-b06ebfba-9945-4648-a171-8c40e9bdc363.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

.parallax-container {
  /* The image used */
  background-image: url("public/assets/Images/d8g26q6-b06ebfba-9945-4648-a171-8c40e9bdc363.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body, html {
  height: 100%;
}
