body{
  background-color: rgb(68, 66, 87);
}
form {
  margin-top: 50px;
}

.nav-link {
  display: contents;
  color: white;
}
#foh{
  background-image: url("../Images/serrassanctum.png");
  height: 100vh;
  width: 100vw;
  /* min-height: 500px; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-overflow-scrolling: touch;
}
#foh-signup{
  background-image: url("../Images/MemorialToGenius.jpg");
  height: 100vh;
  width: 100vw;
  /* min-height: 500px; */
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-overflow-scrolling: touch;
  color: aliceblue;
}
#foh-signin{
  background-image: url("../Images/4_Forest_JasonEngle.png");
  height: 100vh;
  width: 100vw;
  /* min-height: 500px; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-overflow-scrolling: touch;
  color: aliceblue;
}
#gallery{
  background-image: url("../Images/Magic_card_back.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-overflow-scrolling: touch;
}
#gallery img:hover {
  box-shadow: 0 0 15px #0b1131;
  cursor: pointer;
}

.bkgrnd {
  background-image: url("../Images/mtg-image-rotated.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-overflow-scrolling: touch;
}



/* @keyframes animateZ {
  from {
    transform: translateZ(0px);
  }
  to {
    transform: translateZ(4px);
  }
} */


.foreground h1 {
  font-size: 36px;
}

.Cinzel {
  font-family: "Cinzel", serif;
}

#mtgCards{
align-items: center;
margin: 3px;

} 

#text-blurb{
 
  background-color: rgba(43, 44, 65, 0.205);
  color: black;
  font-weight:1000;
  text-align: center;
}

#mtgCards p {
  width: fit-content;
  height: fit-content;
  padding: 3px 8px;
  background-color: white;
  border: 3px solid black;
  border-radius: 15px;
  font-family: "Cinzel", serif;
  font-weight: bolder;
  margin-left: 60px;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}
.data-center {
  margin: auto;
  border: 3px hidden;
  border-radius: 17px;
}
#card-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.artist{
  position: fixed;
  bottom: 0;
  right: 40px;
  width: 100px;
  color: black;

}
